<div class="card card-body mb-3">
  <form>
    <div class="form-group">
      <input type="text" name="" placeholder="Add a log.." class="form-control">
    </div>
    <input type="submit" value="Add log" class="btn btn-light" [disabled]="!this.text">
    <button type="button" class="btn btn-warning" [hidden]="!this.text">Clear</button>
  </form>
</div>